<html>
<body>
    <div class="login">
        <h1>Student Exam Performance Indicator</h1>
   
        <form action="{{ url_for('predict_datapoint')}}" method="post">
            <h1>
                <legend>Student Exam Performance Prediction</legend>
            </h1>
            <!-- Other form elements... -->

            <div class="mb-3">
                <label for="readingScore" class="form-label">Writing Score out of 100</label>
                <input id="readingScore" class="form-control" type="number" name="reading_score"
                    placeholder="Enter your Reading score" min='0' max='100' />
            </div>
            <div class="mb-3">
                <label for="writingScore" class="form-label">Reading Score out of 100</label>
                <input id="writingScore" class="form-control" type="number" name="writing_score"
                    placeholder="Enter your Reading Score" min='0' max='100' />
            </div>

            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Predict your Maths Score" required />
            </div>
        </form>

        <h2>
            THE prediction is {{results}}
        </h2>
    </div>
</body>
</html>
